<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Polêmica!</h1>
    <p class="lead">
    	Governo Federal está propondo extinção dos municípios com menos de 5.000 habitantes e arrecadação própria inferior a 10% da receita total.

    	Você é contra ou a favor ?!
    </p>
  </div>
</div>